@tailwind base;
@tailwind components;
@tailwind utilities;



/* .consulting_grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    min-height: 100dvh;
} */
.consulting-grid{
    display: grid;
    /* height: 100dvh; */
    width: 100dvw;
    grid-template-columns: 15dvw 35dvw 20dvw 15dvw 15dvw;
    grid-template-rows: 40dvh auto;
}

.item{
    @apply flex justify-center items-center text-white;
}

.item_1{
    
    grid-column: span 5;
    /* grid-row: span 3; */
    background-image: url('/conImg2.jpg');
    background-size: cover;
    /* max-height: 100dvh; */
    z-index: -13;
}
.item_1 h3{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.contact-div{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/3/auto/4; 
    background-color: #ffff;
    height: 50%;
    transform: translate(-6dvw,-7.5dvh);
    /* z-index: -10; */
}
.contact-button{

    width: 85%;
    height: 70%;
    font-size: 1.5dvw;
    background-color:#bb920d;
    color: aliceblue;
    transition: all ease-in-out 200ms;transition: all 0.5s;
}
.contact-button:hover{
    cursor: pointer;
    transform: scale(1.2, 1.5);
}

.set-2{
    
    color: #033227ca;
    font-size: 6dvw;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    z-index: -11;
}

.dedicated{
    grid-area: 2/2/auto/3;
    
    transform: scale(1,1.5);
    line-height: 2;
}
.to-your{
    grid-area: 3/2/auto/3;
    /* font-size: 7dvw; */
    /* transform: ; */
    transform: translate(5dvw,-2.0dvw) scale(1.3,1.8);
}
.success{
    position: relative;
    grid-area: 2/3/4/5;
    /* background-color: aqua; */
    font-size: 8dvw;
    transform: scale(1,2.8);
    line-height: 2.6;
    padding-left: 1dvw;

}
.item_3{
    grid-area: 4/2/auto/3;
    padding: 2rem; 
    color: rgb(0, 0, 0);
    /* background-color: aqua; */


}
.para{
    /* max-width: 70%; */
    font-size: 200%;
    text-align: justify;
    font-weight: 300;
    transition: all ease-in-out 600ms;
   
}
.para:hover{
    border-color: rgb(8, 67, 48);
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}

.item_4{
    grid-area: 4/3/auto/5 ;
    overflow: hidden;
    width: 94%;
    /* margin-right: 6rem; */
    cursor: pointer;
    transform: translate(4dvw,0dvw) scale(0.9,0.9);
    /* border-radius: 600px; */
    z-index: -11;
}
.item_5{
    width: 94%;
    grid-area: 5/2/auto/3 ;

    overflow: hidden;

    cursor: pointer;
    z-index: -11;
}
.item_6{
    grid-area: 5/3/auto/5;
    padding: 2rem 0rem 2rem 2rem; 
    color: rgb(8, 67, 48);
 
}


.item img{
    object-fit:cover;
    width: 100%;
    transition: all ease-in-out 600ms;
 
    
}
.item img:hover{
    transform: scale(1.5);
}
@media screen and (max-width: 1200px) {
    .para{
        font-size: small;
    }
}
@media screen and (max-width: 780px) {
.item_1 div{
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.item_3{
    grid-area:4/2/auto/5 ;
    /* background-color: aqua; */
}
.item_4 {
    grid-area: 5/2/auto/5 ;
    width: 90%;
    height: 25dvh;
}
.item_5 {
    grid-area: 7/2/auto/5 ;
    width: 90%;
    height: 25dvh;
    transform: translate(4dvw,0dvw) scale(0.9,0.9);
    

}
.item_6 {
    grid-area: 6/2/auto/5;
}
}